body {
        background-color: lightcoral;
}

dt {
    white-space: pre-line;
    font-family: "Lohit Punjabi";
    font-style: italic;
}

th{
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
}

td{
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}


.table{
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-collapse: separate;
    width: 80%;
    text-align: center;
    background-color: bisque;
    color: black;
}


.submitbutton{
    display:block;
}

.navbar-brand{
    background-color: whitesmoke;
}

.container-fluid{
    background-color: gray;
}

.navbar-header{
    color: white;
}